<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="/static/css/bootstrap.css">
    <link href="https://fonts.googleapis.com/css?family=Lobster" rel="stylesheet" type="text/css">
    <link rel="stylesheet" href="https://fonts.google.com/?selection.family=Courgette">
    <link rel="stylesheet" href="https://fonts.google.com/?selection.family=Playfair+Display+SC">
    <!--<link rel="stylesheet" href="https://fonts.google.com/?selection.family=Libre+Baskerville">  Libre Baskerville-->
    <style>
        body {
            background-image: url("/static/1.jpg");
            background-repeat: no-repeat;
            background-position: right top;
            background-attachment: fixed;
            padding-left: 50px;
            padding-right: 50px;
        }
        .e {
            font-family: Lobster, Monospace;
        }

        .p {
             font-family: Courgette, Monospace;
        }

    </style>
</head>
<body>
<div class="container" style="background-color: orange; border-radius: 3%; font-size: 30px; font-family: Playfair Display, Monospace">
    <ul class="nav nav-pills">
        <li class="active"><a href="/">Home</a></li>
        <li><a href="/register">Register</a></li>
        <li><a href="/login">Sign In</a></li>
        <li><a href="/blogs">Blogs</a></li>
        <li><a href="/blogs/new">New Blog</a></li>
        <li><a href="/logout">Logout</a></li>
    </ul>
</div>
<div style="color: white; text-style: bold; font-size: 50px; font-family: Lobster, Monospace">
    <p class="text-center" style="font-size: 70px ">BLOGS AND POSTS</p><hr/>
    <p class="p text-center">Hello You have made the right choice</p><br>
    <p class="p text-center">You can now safely save your notes, todos, blogs etc in an organised and secure way</p><br>
    <p class="p text-center"><a href="/register">Register</a> and <a href="/login">Login</a> to explore.</p><br>
    <p class="p text-center">Build your blog and add posts.</p><br>
    <p class="e text-center">Enjoy</p><br><br>
</div>
</body>
</html>